.container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
}
.search_content {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.search_content {
  padding-top: 16px;
  .el-input {
    width: 160px;
    height: 28px;
  }
  .el-select {
    width: 160px;
    .el-input {
      width: 160px;
    }
  }
  .el-form-item__label {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
  .el-form-item {
    margin-bottom: 16px;
  }
  .el-button--primary.is-plain:hover {
    border-color: #76a1ff;
    background-color: #c8dbff;
    color: rgba(76, 132, 255, 1);
  }
  .el-button--primary.is-plain:focus {
    border-color: #76a1ff;
    background-color: #c8dbff;
    color: rgba(76, 132, 255, 1);
  }
  .el-button--primary.is-plain:active {
    border-color: #76a1ff;
    background-color: #c8dbff;
    color: rgba(76, 132, 255, 1);
  }
  .el-button {
    margin-bottom: 16px;
  }
}
.table_container {
  background-color: #fff;
  width: 100%;
  padding-left: 24px;
  padding-right: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  .el-table {
    margin-top: 10px;
    .el-table__header {
      height: 42px;
      th {
        height: 42px;
        color: #333;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .el-table__body tr:hover > td {
      background-color: rgba(222, 232, 253, 1);
    }
    .el-table-column--selection .cell {
        padding-left: 10px;
        padding-right: 10px;
    }
    td {
      height: 42px;
      .cell {
        font-size: 12px;
        color: rgba(96, 98, 102, 1);
      }
      .svg-icon {
        vertical-align: -0.3em;
      }
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: rgba(222, 232, 253, 1);
    }
    .el-table--mini th {
      padding: 5px 0px;
    }
  }
  .el-tooltip__popper.is-dark {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.modal_container {
  .el-tooltip__popper.is-dark {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .el-tooltip__popper.is-dark {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .el-dialog .el-dialog__body {
    padding: 16px 20px;
  }
  .el-button--primary.is-plain:hover {
    border-color: #76a1ff;
    background-color: #c8dbff;
    color: rgba(76, 132, 255, 1);
  }
  .el-button--primary.is-plain:focus {
    border-color: #3468dc;
    background-color: #89aef5;
    color: rgba(52, 104, 220, 1);
  }
  .el-button--primary.is-plain:active {
    border-color: #3468dc;
    background-color: #89aef5;
    color: rgba(52, 104, 220, 1);
  }
  .el-input-number.is-controls-right .el-input-number__decrease,
  .el-input-number.is-controls-right .el-input-number__increase {
    height: 14px;
    line-height: 14px;
    right: 21px;
  }
  .el-dialog .el-dialog__header {
    background: linear-gradient(90deg, rgba(76, 132, 255, 1) 0%, rgba(78, 46, 202, 1) 100%);
    border: none;
    padding: 0px;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
  }
  .el-dialog .el-dialog__header .el-dialog__title {
    color: #fff;
    line-height: 14px;
    font-size: 14px;
  }
  .el-dialog .el-dialog__header .el-icon-close {
    color: #fff;
  }

  .el-dialog .el-dialog__header .el-dialog__headerbtn {
    top: 10px;
  }
  .dialog-footer .el-button:first-child {
    width: 97px;
    height: 28px;
    text-align: center;
    border-radius: 4px;
    background-color: #4c84ff;
    color: #fff;
    padding: 0px;
  }
  .dialog-footer .el-button:last-child {
    width: 97px;
    height: 28px;
    text-align: center;
    border-radius: 4px;
    background-color: #e4edff;
    color: #4c84ff;
    padding: 0px;
    border: 1px solid #4c84ff;
  }

  .dialog-footer .el-button:first-child:hover {
    background-color: #76a1ff;
  }
  .dialog-footer .el-button:last-child:hover {
    border-color: #76a1ff;
    background-color: #c8dbff;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
  }
  .el-form .el-form-item {
    margin-right: 16px;
  }
  .el-form .el-input {
    width: 160px;
  }
  .el-dialog .el-dialog__footer,
  .pagination {
    text-align: center;
  }

  .el-button,
  .el-form .el-input .el-input__inner {
    height: 28px;
  }

  .el-button {
    width: 97px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    padding: 0;
  }

  .el-button,
  .el-button--primary:focus,
  .el-button--primary:hover,
  .el-input-group__append {
    background-color: #4c84ff;
  }

  .el-form .el-form-item .el-form-item__label {
    color: #333;
    font-weight: 400;
  }
  .el-input-number {
    height: 28px;
    line-height: 28px;
  }
  .el-dialog .el-dialog__footer {
    border-top: none;
    padding-bottom: 20px;
  }
  .el-textarea__inner {
    width: 195px;
  }
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 18px;
  }
  .el-input__count {
    background: none;
    color: #4c84ff;
    bottom: 3px;
    height: 20px;
    line-height: 20px;
    right: 15px;
  }
  .el-table {
    margin-top: 10px;
    .el-table__header {
      height: 42px;
      th {
        height: 42px;
        color: #333;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .el-table__body tr:hover > td {
      background-color: rgba(222, 232, 253, 1);
    }
    td {
      height: 42px;
      .cell {
        font-size: 12px;
        color: rgba(96, 98, 102, 1);
      }
      .svg-icon {
        vertical-align: -0.3em;
      }
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: rgba(222, 232, 253, 1);
    }
    .el-table--mini th {
      padding: 5px 0px;
    }
  }
}

.page_container {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

// 详情页展示
.detail_content {
  margin-bottom: 16px;
}

.left_content {
  float: left;
  width: 130px;
  height: 28px;
  overflow: hidden;
  margin-right: 10px;
  color: #333;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
}

.right_content {
  float: left;
  width: calc(100% - 140px);
  height: 28px;
  overflow: hidden;
  line-height: 28px;
  text-align: left;
  color: #606266;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space:normal; 
  word-break:break-all;
}

.right_content_noHeight {
  float: left;
  width: calc(100% - 140px);
  overflow: hidden;
  line-height: 28px;
  text-align: left;
  color: #606266;
}

#app {
  overflow-y: auto !important;
}

.mul_select {
  width: 195px !important;
  .el-input {
    width: 195px !important;
  }
  .el-select {
    width: 195px !important;
    .el-input {
      width: 195px !important;
    }
  }
}

.el-tooltip__popper {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}
.el-tooltip__popper.is-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-close-icon {
  .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
  }
}
.el-table--fluid-height .el-table__fixed {
  bottom: 12px;
}

.el-dialog .el-dialog__header .el-icon-close {
  color: #fff !important;
}
.table_container_saleManagenment_detail {
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    background-color: #4c84ff;
    color: #fff;
    border-radius: 4px 0 0 0;
    font-size: 12px;
}
.el-tabs__item {
        font-size: 12px !important;
    }
    .el-form-item__label {
        width: 6.25rem !important;
        .el-form-item__content {
            margin-left: 100px !important;
        }
    }
    .el-form-item--mini .el-form-item__content {
        margin-left: 100px !important;
    }
    .el-row {
        margin-left: 55px;
        margin-top: 25px;
    }
    .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
        border-color: #4C84FF !important;
        background-color: #4C84FF !important;
    }
    .templete-data-info .el-table__body-wrapper {
        overflow: unset;
    }
    .price-wrap {
      .el-form-item__label {
        // width: 6.25rem !important;
        .el-form-item__content {
            margin-left: 0px !important;
        }
    }
    }
    .table_el-form-item__content {
      .el-form-item__content {
        margin-left: 0px !important;
      }
    }

    .el-icon-loading-none {
      display: none;
  }
  .innerInput input{
      width: 120px!important;
  }
  .pointer {
      cursor: pointer;
  }
  /deep/ .elCard {
      .el-card__body{
          padding-top: 0px;
      }
  }
  .el-drawer__header span:focus{
      outline:0;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
      background-color: #4c84ff;
      color: #fff;
      border-radius: 4px 0 0 0;
      font-size: 12px;
  }
  .el-tabs__item {
      font-size: 12px !important;
  }
  .el-form-item__label {
      width: 6.25rem !important;
      .el-form-item__content {
          margin-left: 100px !important;
      }
  }
  .el-form-item--mini .el-form-item__content {
      margin-left: 100px !important;
  }
  .el-row {
      margin-left: 55px;
      margin-top: 25px;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
      border-color: #4C84FF !important;
      background-color: #4C84FF !important;
  }
  .templete-data-info .el-table__body-wrapper {
      overflow: unset;
  }
  .el-table__body {
      width: 100% !important;
  }
  .el-table {
    width: 100%;
  }
  .price_incidentalFeeInfo {
      .el-table__body {
          width: 100% !important;
      }
      tr {
          height: 50%;
      }
       td {
          height: 50px;
       }
  }
    
}

.table_container_saleManagement_partition {
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    background-color: #4c84ff;
    color: #fff;
    border-radius: 4px 0 0 0;
    font-size: 12px;
}
}

.viewIncidentals {
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    background-color: #4c84ff;
    color: #fff;
    border-radius: 4px 0 0 0;
    font-size: 12px;
}
}

.price_incidentalFeeInfo {
  .el-table__body {
      width: 100% !important;
  }
  tbody{
    height: 100%;
  }
  tr {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // flex-grow: 1;
    // flex: 1;
    td {
     height: 80px !important;
    }
      
  }
}